* {
	margin: 0;
	padding: 0;
	font-family: monospace;
}

.header {
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(203, 203, 203);
}

.content {
	display: flex;
}

.game-container {
	width: 70vw;
	height:fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

.game-board {
	display: grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
	gap: 10px;
}

.square {
	height: 150px;
	width: 150px;
	background-color: rgb(203, 203, 203);
}

.ai-container {
	width:fit-content;
	padding: 1rem;
}

.ai-player {
	border: red solid 1px;
}

.ai-typewriter p {
	width: max-content;
	overflow: hidden; /* Ensure content is not revealed before animation */
	border-right: .15em solid black; /* Typewriter cursor */
	white-space: nowrap; /* Keeps content on single line */
	margin: 0 auto; /* Gives scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: typing 3.5s steps(40,end), blink-caret .5s step-end infinite;
}

/* Typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* Blinking typewriter cursor */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: black }
}